{% extends "base.html" %}

{% block content %}
<style>

   ul{
    list-style: none;
   }
   
   li{
    display: none;
   }
   input, .btnc {
    display: block;
    padding: .35rem;
    font-size: 1rem;
    border: 1px solid #b8babc;
    border-radius: .25rem;
    min-width: 400px;
   }
   .form{
    width: 50%;
    margin: auto;
   }
</style>

<div class="container-fluid form">
  <h2>Changer le mot de passe</h2>
  <form method="post" class="form-group">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btnc btn-primary">Changer le mot de passe</button>
</form>

</div>
{% endblock %}