asgiref
distlib
Django
pillow
paypalrestsdk
dj-database-url
mysql-connector-python
django-crispy-forms
django-filter
filelock
platformdirs
pytz
sqlparse
tzdata
whitenoise
django-cleanup
validate_email
