{% extends "base.html" %}

{% block content %}

    <div class="" style="min-height: 60.8vh;">
        <div class="col-md-4 mx-auto">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn col-12 bg-secondary text-light" style="font-weight: 600;">Modifier</button>
            </form>
        </div>
    </div>

{% endblock content %}


<!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur ipsum, aspernatur non mollitia, amet veritatis velit omnis eligendi repellat libero ex aut quae pariatur iste explicabo eveniet eum a. Sint?
Minima provident ullam harum corporis ea culpa, consequuntur at modi expedita natus iure, qui aliquid quis laborum deserunt quia rerum officiis voluptatibus eveniet. Accusantium harum nisi culpa accusamus temporibus cupiditate!
Officiis qui id ex repellat tempora aut beatae, dolorem quos et, nulla explicabo sunt, voluptate fugit inventore maxime libero facilis illum vero recusandae. Iusto, praesentium dolorum. Aliquid quasi accusantium pariatur?
Quia, adipisci. Ad nulla earum odit magni, minus consequuntur culpa animi accusantium omnis corrupti recusandae illo aspernatur in? Cumque quod ducimus nemo nesciunt aut, incidunt quisquam aliquam neque sit veniam.
Maiores esse dolorem, reprehenderit ullam mollitia distinctio veritatis nisi aut, corrupti blanditiis fugit quas modi, itaque vel? Quisquam exercitationem distinctio magnam veritatis minus illum, asperiores autem amet ratione molestiae ex. -->